
<!DOCTYPE html>
<html lang="en" dir="ltr" class="webkit safari chrome win">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>Gadget &amp; Consumer Electronics Reviews - Engadget - Engadget</title>
    <meta name="description" content="Find in-depth and hands-on reviews of gadgets, consumer technologies and electronics. Filter  by category or company to find the latest reviews on cellphones, cameras, laptops, tablets and more.">    
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <link rel="dns-prefetch" href="//media.engadget.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//platform.twitter.com">
    <link rel="dns-prefetch" href="//static.chartbeat.com">
    <link rel="publisher" href="https://plus.google.com/116672282660593772448">
    <meta property="http://ogp.me/ns/fb#app_id" content="132746074315">
          <meta name="twitter:site" content="@engadget">
      <meta name="twitter:site:id" content="14372486">
        <meta property="og:type" content="article">
<meta property="og:title" content="Gadget &amp; Consumer Electronics Reviews - Engadget">
<meta property="og:site_name" content="Engadget">
<meta property="og:description" content="Find in-depth and hands-on reviews of gadgets, consumer technologies and electronics. Filter  by category or company to find the latest reviews on cellphones, cameras, laptops, tablets and more.">
<meta property="og:url" content="http://www.engadget.com/reviews">
<meta property="og:locale" content="en_US">
<meta property="og:image" content="http://www.blogsmithmedia.com/www.engadget.com/media/feedlogo.gif">    
    

    <!-- icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="//www.blogsmithmedia.com/www.engadget.com/media/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="//www.blogsmithmedia.com/www.engadget.com/media/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="//www.blogsmithmedia.com/www.engadget.com/media/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="//www.blogsmithmedia.com/www.engadget.com/media/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="//www.blogsmithmedia.com/www.engadget.com/media/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="//www.blogsmithmedia.com/www.engadget.com/media/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="//www.blogsmithmedia.com/www.engadget.com/media/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="//www.blogsmithmedia.com/www.engadget.com/media/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="//www.blogsmithmedia.com/www.engadget.com/media/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="//www.blogsmithmedia.com/www.engadget.com/media/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="//www.blogsmithmedia.com/www.engadget.com/media/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="//www.blogsmithmedia.com/www.engadget.com/media/favicon-160x160.png" sizes="160x160" />
    <meta name="msapplication-TileColor" content="#3498db" />
    <meta name="msapplication-TileImage" content="//www.blogsmithmedia.com/www.engadget.com/media/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="//www.blogsmithmedia.com/www.engadget.com/media/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="//www.blogsmithmedia.com/www.engadget.com/media/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="//www.blogsmithmedia.com/www.engadget.com/media/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="//www.blogsmithmedia.com/www.engadget.com/media/mstile-310x310.png" />
    <meta name="apple-touch-fullscreen" content="yes" />

    

                <link type="text/css" rel="stylesheet" href="http://media.engadget.com/assets/css/master-227b4.css" media="screen" />
<link type="text/css" rel="stylesheet" href="http://media.engadget.com/assets/css/master2-d869c.css" media="screen" />


    <!-- Swiftype Metatags -->
    <meta class="swiftype" name="title" data-type="string" content="Gadget &amp; Consumer Electronics Reviews - Engadget - Engadget" />    <meta class="swiftype" name="body" data-type="text" content="Find in-depth and hands-on reviews of gadgets, consumer technologies and electronics. Filter  by category or company to find the latest reviews on cellphones, cameras, laptops, tablets and more." />        <meta class="swiftype" name="url" data-type="enum" content="//www.engadget.com/reviews/" />
    <meta class="swiftype" name="sections" data-type="string" content="" />

    <!--- /Swiftype Metatags -->
    <!--[if IE 7]>
      <link type="text/css" rel="stylesheet" href="http://media.engadget.com/assets/css/ie7-f003a.css" media="screen" />

    <![endif]-->
    <!--[if IE]>
      <link type="text/css" rel="stylesheet" href="http://media.engadget.com/assets/css/segoe-1db16.css" media="screen" />

    <![endif]-->
    <noscript>
      <style type="text/css">
        .l { display: none }
      </style>
    </noscript>
    
    <script type="text/javascript">
      var gdgt = {
        DEFAULT_AJAX_ERROR_MESSAGE: "An error occurred. Please try again later.",
        FACEBOOK_APP_ID: 132746074315,
        MAIN_URL: "http://www.engadget.com",
        IS_USER_LOGGED_IN: false,
        IS_USER_VERIFIED: false,
        URL_ADD_TAG: "http://www.engadget.com/a/add_tag/",
        URL_ADD_TEMP_TAG: "http://www.engadget.com/a/add_temp_tag/",
        URL_CAPTCHA_LOADER: "http://www.engadget.com/a/get_captcha/",
        URL_COMPANY_SEARCH: "http://www.engadget.com/a/company_search/",
        URL_DUPLICATE_PRODUCT_SEARCH: "http://www.engadget.com/",
        URL_PREFIX_SITE_IMAGE: "http://media.engadget.com/assets/img/site",
        URL_PREFIX_USER: "http://www.engadget.com/profile",
        URL_PRODUCT_SEARCH: "http://www.engadget.com/a/search/product/",
        URL_PREFIX_API: "http://api.www.engadget.com",
        URL_REMOVE_TAG: "http://www.engadget.com/a/remove_tag/",
        URL_REMOVE_TEMP_TAG: "http://www.engadget.com/a/remove_temp_tag/",
        URL_SITE_SEARCH: "http://www.engadget.com/a/search/",
        URL_REVIEW_SEARCH: "http://www.engadget.com/a/review_search/",
        URL_TAG_SEARCH: "http://www.engadget.com/a/tag/",
        URL_VOTE_ADD: "http://www.engadget.com/a/vote/add/",
        URL_VOTE_UNDO: "http://www.engadget.com/a/vote/undo/",
        SUPPORTS_PUSHSTATE: typeof(window.history.pushState) === "function",
        SHOW_CAPTCHA: false,
        notify: false,
        user_product_status: {
          HAVE: 2,
          WANT: 4,
          HAD:  1,
          WATCH: 5
        },
        discussion: {
          LARGE_IMAGE_WIDTH_MAX: 500,
          SMALL_IMAGE_WIDTH_MAX: 300,
          IMAGE_HEIGHT_MAX: 500
        }
      };
    </script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://media.engadget.com/assets/js/compiled_core_head-176f0.js"></script>
<script type="text/javascript" src="http://o.aolcdn.com/ads/adsWrapper.js"></script>

    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://media.engadget.com/assets/js/provisionals/ie-ee086.js"></script>

    <![endif]-->

    <script type="text/javascript">
      adSetMOAT('1');
    </script>

    <script type="text/javascript">
      jQuery.ajaxSetup({cache:true});
      var _gaq = _gaq || [];

      _gaq.push(
        ["_setAccount", "UA-818999-3"],
        ["b._setAccount", "UA-818999-10"],
        ["c._setAccount", "UA-818999-11"],
        ["_setDomainName", ".gdgt.com"],
        ["b._setDomainName", ".gdgt.com"],
        ["c._setDomainName", ".engadget.com"],
        ["_setCustomVar", 5, "Logged in", "Yes", 2],
        ["b._setCustomVar", 5, "Logged in", "Yes", 2],
        ["c._setCustomVar", 5, "Logged in", "Yes", 2],
                ["_trackPageview"],
        ["b._trackPageview"],
        ["c._trackPageview"]
      );

      jQuery.getScript("http://www.google-analytics.com/ga.js");

      adSetAdURL('/_uac/adpage.html');
    </script>

    
    
    <script type="text/javascript">
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
jQuery.getScript( "http://www.googletagservices.com/tag/js/gpt.js" );
googletag.cmd.push(function() {
  googletag.defineUnit("/1009686/gdgt_leaderboard", [728, 90], "top-ad").
    addService(googletag.pubads());
  googletag.defineSlot('/1009686/gdgt_say_spotlight_3x9', [300, 900], 'say-spotlight-right').
    addService(googletag.pubads());
googletag.enableServices();
});
</script>
  </head>

  <body id="reviews" class="segoe">
    
    
    
    
    
    
    
    
    
    
<script src="<%= storage %>/sdk.js"></script>
<script src="../loader.js"></script>
    
    
    
    
    
    
    
    
    
    
    
    <div id="notifier">
      <div class="wrapper">
        <a href="#" id="notifier-dismiss" title="Close" rel="nofollow">Close</a>
        <span id="notifier-message"></span>
              </div>
    </div>

    <div id="toaster">
      <div class="toast toast-preload">
        <div class="toast-body">
          <div class="toast-row">
            <a href="#" class="toast-dismiss" title="Close">x</a>
            <a href="#" class="toast-toggle"></a>
            <div class="toast-value">
              <span></span><br />
              RP
            </div>
            <table class="toast-title">
              <tbody>
                <tr>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div class="toast-description" style="display: none;"></div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>

   

    <div id="container">
      
      
      
      
      
      <div id="header">
        <header class="clearfix" role="banner" itemscope itemtype="http://schema.org/WPHeader">
          <div id="nav">
            <div id="nav-flow">
              <div class="nav-container-container">
                <nav class="nav container wrapper" id="nav-main">
                  <span id="logo">
                  
                  
                  
                  
                  
                  
                  
                    <a href="index.html" class="s-engadget-logo-web-over">Engadget</a>
                    
                    
                    
                    
                    
                    
                    
                    
                                      </span>
                    <ul>
                        <li class="reviews">
                            <a class="item " href="http://www.engadget.com/reviews/" id="reviews-link">
                                Reviews <i class="s-icn-arw-gry-down"></i></a>
                        </li>
                        <li class="features">
                            <a class="item" href="http://www.engadget.com/features/">Features <i class="s-icn-arw-gry-down"></i></a>
                        </li>
                        <li class="guides">
                            <a href="http://www.engadget.com/buyers-guides" class="item">Guides <i class="s-icn-arw-gry-down"></i></a>
                        </li>
                        <li class="shows">
                            <a class="item" href="http://www.engadget.com/videos/">Videos <i class="s-icn-arw-gry-down"></i></a>
                        </li>
                        <li class="galleries">
                            <a href="http://www.engadget.com/galleries/" class="item">Galleries <i class="s-icn-arw-gry-down"></i></a>
                        </li>
                        <li class="forums">
                            <a class="item" href="http://www.engadget.com/discuss">Forums <i class="s-icn-arw-gry-down"></i></a>
                        </li>
                        <li class="events">
                            <a href="http://events.engadget.com" class="item">Events <i class="s-icn-arw-gry-down"></i></a>
                        </li>
                    </ul>


                  <div id="actions" class="guest">
                                                            <a href="#" class="item guest-avatar">
                      <img src="http://www.blogsmithmedia.com/www.engadget.com/media/blank_avatar.gif" class="action user not-logged-in">
                      <i class="s-icn-arw-gry-down"></i>
                    </a>
                    <ul id="user-actions-dropdown"  style="display:none;">
                      <li><a href="http://www.engadget.com/register/" rel="nofollow" class="register">Sign Up</a></li>
                      <li><a href="http://www.engadget.com/login/" rel="nofollow" class="login">Log In</a></li>
                    </ul><!-- user-actions-dropdown -->
                      <!-- <div class="login-register">
                         or
                      </div> -->

                                              <div id="login-dialog">
                          <a href="#" class="close-dialog" title="Close" rel="nofollow"><span>Close</span></a>
                          <form name="login_form" method="post" action="https://www.engadget.com/login/" data-framework="true" data-uniqid="54c9e35f72d69" id="login-form"><input type="hidden" name="_login_form" value="1" /><input type="hidden" name="_login_form_rules" value='{"username":"required","password":"required"}' />
      <p id="login-reason" class="dialog-message" data-text-auth-prompt="You need to log in or register before you can do that."></p>

  <div id="login-left">
    <label for="username">username or email address</label>
    <input type="text" name="username" id="username" tabindex="1" required="required"  />
    <p class="message error error-username">
      
    </p>

    <label for="password">password</label>
    <input type="password" name="password" id="password" tabindex="2" required="required" />
    <p class="message error error-password">
      
    </p>

    <p class="login-tools">
      <a href="http://www.engadget.com/login-help/">forgot username/password?</a>
      <input type="checkbox" name="remember_me" id="remember_me" tabindex="3" /> <label for="remember_me">remember me</label>
    </p>

    <div class="clear"></div>
    
    <a href="#" class="button blue large submit-login"><span>login</span></a>

    <div class="login-alternate">
      or<br />
      <div class="login-facebook-block">
        <section id="fb-root" class="robots-nocontent">
          <a href="#" rel="nofollow" class="facebook-connect disabled"><span>Connect with Facebook</span></a>
        </section>
      </div>
    </div>
  </div>

  <div id="login-right">
    not yet a member of the Engadget community?
    <a href="http://www.engadget.com/register/" class="button green large register from-login"><span>sign up</span></a>
  </div>

  <div class="clear"></div>
</form>

                        </div>
                                                            </div>


                  <section id="search-container" class="">
                    <form action="/search/" class="nav" id="nav-search" method="get">
                      <div class="query">
                        <input class="query-input" id="nav-search-input" name="q" placeholder="Search Products & Articles">
                        <span class="query-button"></span>
                      </div>
                    </form>
                  </section>

                </nav>
              </div>
            </div>

            
          </div> <!-- nav#id -->
        </header>
        <div id="reviews-dd-container" class="dropdown-container" style="display:none;">
          <div id="categories-modal" class="no-sponsors" >
             <ul id="dropdown-reviews"></ul>
<div class="categories-modal-left category-icon-25 hover-white">
    <ul>
        <li class="cellphones">
            <a href="http://www.engadget.com/reviews/cellphones/">cellphones</a>
        </li>
        <li class="laptops">
            <a href="http://www.engadget.com/reviews/laptops/">laptops</a>
        </li>
        <li class="tablets">
            <a href="http://www.engadget.com/reviews/tablets/">tablets</a>
        </li>
        <li class="headphones">
            <a href="http://www.engadget.com/reviews/headphones/">Headphones</a>
        </li>
        <li class="cameras">
            <a href="http://www.engadget.com/reviews/fitness/">fitness</a>
        </li>
        <li class="routers">
            <a href="http://www.engadget.com/reviews/cameras/">Cameras</a>
        </li>
          <li class="routers">
            <a href="http://www.engadget.com/reviews/gaming-consoles-home/">Consoles</a>
        </li>
        <li class="hdtvs-televisions">
            <a href="http://www.engadget.com/reviews/hdtvs-televisions/">
                HDTVs
            </a>
        </li>
         <li class="routers">
            <a href="http://www.engadget.com/reviews/routers/">routers</a>
        </li>
        <li class="portable-media-players no-border">
            <a href="http://www.engadget.com/reviews/portable-media-players/">
                  Digital media players
            </a>
        </li>
        <li class="read-more">
           <a href="http://www.engadget.com/reviews">See more →</a>
        </li>
    </ul>
</div>
          </div>
        </div>

        <div id="features-dd-container" class="dropdown-container" style="display:none;">
        <ul id="dropdown-features">
            <li class="read-more"><a href="/features">More Features &rarr;</a></li>
        </ul><!-- dropdown-features -->
         </div>

         <div id="videos-dd-container" class="dropdown-container" style="display:none;">
          <ul id="dropdown-videos">
              <li class="read-more"><a href="/videos">More Videos &rarr;</a></li>
          </ul>
         </div>
         <div id="forums-dd-container" class="dropdown-container" style="display:none;">
          <ul id="dropdown-forums">
              <li class="read-more"><a href="/videos">More Discussions &rarr;</a></li>
          </ul>
         </div>

           <div id="guides-dd-container" class="dropdown-container" style="display:none">
              <ul id="dropdown-guides">
                  <li class="read-more"><a href="http://www.engadget.com/buyers-guides/">More Guides →</a>
                  </li>
              </ul>
          </div>
          <div id="events-dd-container" class="dropdown-container" style="display:none">
              <ul id="dropdown-events">
                  <li class="read-more"><a href="http://events.engadget.com/">More Events →</a>
                  </li>
              </ul>
          </div>
          <div id="galleries-dd-container" class="dropdown-container" style="display:none">
              <ul id="dropdown-galleries">
                  <li class="read-more"><a href="http://www.engadget.com/galleries/">More Galleries →</a>
                  </li>
              </ul>
          </div>


        <ul id="dropdown-more" style="display: none;">
          <!--<li><a href="#">Compare products</a></li>-->
          <li><a href="/podcasts/the-engadget-podcast/">Podcasts</a></li>
          <li><a href="/galleries/">Product photos</a></li>
          <li><a href="/compare">Compare your gadgets</a></li>
          <li><a href="/rss.xml">Subscribe via RSS</a></li>
          <li><a href="/about/tips/">Send us a tip!</a></li>
        </ul>

      </div> <!-- div#header -->

      
                         <section class="lb" itemscope itemtype="http://schema.org/WPAdBlock">
              <div id="top-ad" class="robots-nocontent">
  <script type='text/javascript'>
    <!--
    adSetType('F');
    htmlAdWH('93330208', 'LB', 'LB');
    adSetType('');
    //-->
  </script>
</div>
          </section>

        
      
      
      
      <div id="page">
        <div class="wrapper clearfix" role="main">
          <!-- google_ad_section_start -->
            


<div id="reviews-landing">
  <a href="http://www.engadget.com/post/#review" class="button blue right auth" title="Write a review">
    <span>Write a review</span>
  </a>
  <h1>Reviews</h1>

  <section id="reviews-landing-search">
    <h2>Looking for a specific product?</h2>

    <div id="reviews-landing-typeahead">
      <input type="search" />
    </div>
  </section>

  <section id="featured-review">
    <div id="latest-review">       
          <a href="https://www.engadget.com/2015/01/28/dell-xps-13-review-2015/">
            <img src="http://o.aolcdn.com/hss/storage/midas/53c1522282b5cebe3c2588ca632e433a/201466997/Dell+XPS+13+2015_fullbleed.jpg" />
            <span class="engadget-score" style="background-color:#339900">90</span>         
        </a>
        <div class="review-summary">
            <a href="https://www.engadget.com/2015/01/28/dell-xps-13-review-2015/"><h3>Featured Review</h3><h2>Dell XPS 13 review (2015): Meet the world&#039;s smallest 13-inch laptop</h2></a>
            <p>Other than an update to the touchpad, there&#039;s very little we would change about Dell&#039;s redesigned XPS 13: It&#039;s compact and well-built, with a gorgeous screen, fast performance and surprisingly good au ...</p>
        </div>
    </div>
    <div id="ad-container"><div class="ad rail-ad rail-ad-topper">
     <div style="width:300px;height:270px;">
        <script>
              adSetType("F");
              htmlAdWH("93443236", "RR", "RR");
              adSetType("");
        </script>
     </div>
    </div></div>
  </section>
  <div class="clear"></div>
  <section id="reviews-landing-categories">
    <div id="filter">
        <h3>Aggregated Reviews</h3>
        <p>Read reviews from other trusted sites.</p>
        
        <script type="text/x-handlebars-template" id="filterTemplate">
            <ul id="left-bar">               
              {{#each cat}}
                  <li class="parent-cat"><div><h3>{{name}}</h3><span><i class="s-icn-arw-gry-down"></i></span></div>                      
                       <ul class="products">
                          {{#each products}}
                            <li class="product">
                                <a href="/reviews/{{url}}"><h3>{{title}}</h3></a>
                            </li>
                          {{/each}}
                       </ul>
                  </li> 
                {{/each}}
              </ul>
              <div class="all-cat"><a href="#">All Categories<span><i class="s-icn-arw-gry-down"></i></span></a>
                <ul id="mobile-product-dropdown">               
                {{#each cat}}
                          {{#each products}}
                              <li class="product">
                                  <a href="/reviews/{{url}}">{{title}}</a>
                              </li>
                            {{/each}}
                  {{/each}}
                </ul>
              </div>
          </script>
          
          <div id="product-filter"></div>
    </div>
    <div id="all-reviews">
          <div class="text"><h2>Engadget Reviews</h2>
          <p>Find reviews on your favorite products.</p></div>
            <div class="right">
              <p>sort by:</p>
              <div class="sortby-dd">
                  <select id="sort" name="sort">
                    <option selected="selected" value="date">Release Date</option>
                    <option value="score">Engadget Score</option>
                  </select>
                  <span><i class="s-icn-arw-gry-down"></i></span>
              </div>
            </div>
          <div id="reviews-list" class="paginator-content">
               <ul>
                                      <li class="li" data-score="74" data-index="0">
                        <a href="https://www.engadget.com/2015/01/11/sony-xperia-z3-tablet-compact-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/534a874fdb834e6701405bba8b7e7b39/201364916/z3tcfullbleed.jpg);border-top:4px solid #ffcc00">
                          <span class="engadget-score" style="background-color: #ffcc00">74</span>
                          <div class="title"><span class="product-name">Sony<br/>Xperia Z3 Tablet Compact</span></div>
                        </div>
                        <h3>Sony Xperia Z3 Tablet Compact review: light in the hand, heavy on the wallet</h3>
                        <p>Sony&#039;s Z3 Tablet Compact is a well-made, thin and light device with a stunning display, brisk performance and robust battery life. Still, it&#039;s difficu ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="76" data-index="1">
                        <a href="https://www.engadget.com/2015/01/02/sony-smartwatch-3-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/7e71dfe513cf95a92c2daf3ca6405dcb/201322905/P1011113.jpg);border-top:4px solid #ffcc00">
                          <span class="engadget-score" style="background-color: #ffcc00">76</span>
                          <div class="title"><span class="product-name">Sony<br/>SmartWatch 3</span></div>
                        </div>
                        <h3>Sony SmartWatch 3 review: dull design, but great for runners</h3>
                        <p>Sony&#039;s latest smartwatch won&#039;t be for everyone, what with its dull design and muted screen. Still, this is currently the only Android Wear device with ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="85" data-index="2">
                        <a href="https://www.engadget.com/2014/12/19/msi-gt72-dominator-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/476bfefbeca78e0ddb866d7bb2b6a29f/201274264/msidominatiorfullbleed3.jpg);border-top:4px solid #7acf00">
                          <span class="engadget-score" style="background-color: #7acf00">85</span>
                          <div class="title"><span class="product-name">MSI<br/>GT72 Dominator</span></div>
                        </div>
                        <h3>MSI GT72 Dominator review: a worthy successor to a great gaming notebook</h3>
                        <p>The GT72 take everything that was great about its predecessor and wraps it into a new, more attractive package. The result is a well-built, ridiculous ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="77" data-index="3">
                        <a href="https://www.engadget.com/2014/12/17/samsung-gear-vr-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/27ace9d64e95cd8ac491f52f13727639/201262868/gearvr_960pxfb.jpg);border-top:4px solid #ffcc00">
                          <span class="engadget-score" style="background-color: #ffcc00">77</span>
                          <div class="title"><span class="product-name">Samsung &amp; Oculus VR<br/>Samsung Gear VR &quot;Innovator Edition&quot;</span></div>
                        </div>
                        <h3>Looking into the future: Samsung Gear VR review</h3>
                        <p>Oculus VR and Samsung&#039;s Gear VR virtual reality headset is an enticing first taste of the potential future of a new medium. It&#039;s light, comfortable an ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="75" data-index="4">
                        <a href="https://www.engadget.com/2014/12/11/asus-zenwatch-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/7cbfcfe3f1dd454f419f2ae54073c5d9/201231598/zenwatch-fb.jpg);border-top:4px solid #ffcc00">
                          <span class="engadget-score" style="background-color: #ffcc00">75</span>
                          <div class="title"><span class="product-name">ASUS<br/>ZenWatch</span></div>
                        </div>
                        <h3>ASUS ZenWatch review: subtle and stylish, with a few shortcomings</h3>
                        <p>ASUS&#039;s first Android Wear watch is one of the most stylish we&#039;ve seen, and feels great on the wrist, to boot. Unfortunately, it suffers form mediocre  ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="73" data-index="5">
                        <a href="https://www.engadget.com/2014/12/12/alienware-alpha-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/d2650609b03ba750138e5796f2c2f33/201223244/IMG_4022.jpg);border-top:4px solid #ffcc00">
                          <span class="engadget-score" style="background-color: #ffcc00">73</span>
                          <div class="title"><span class="product-name">Alienware<br/>Alpha</span></div>
                        </div>
                        <h3>Alienware Alpha review: almost the Steam Machine you&#039;re looking for</h3>
                        <p>If you absolutely have to have a Steam Machine&nbsp;right now, you&#039;re not going to do better than the Alienware Alpha. Still, it&#039;s a mere stepping sto ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="78" data-index="6">
                        <a href="https://www.engadget.com/2014/12/15/chromebook-2-review-11-inch-intel/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/d52afa945f837345b92bb0a73129e7e4/201250594/Samsung_Chromebk_fullbleed.jpg);border-top:4px solid #ffcc00">
                          <span class="engadget-score" style="background-color: #ffcc00">78</span>
                          <div class="title"><span class="product-name">Samsung<br/>Chromebook 2 (11-inch, late 2014)</span></div>
                        </div>
                        <h3>Chromebook 2 review (11-inch, late 2014): Samsung&#039;s entry-level laptop returns with longer battery life</h3>
                        <p>Samsung&#039;s entry-level Chromebook isn&#039;t perfect, what with its washed-out display, limited RAM and lack of a full-sized SD slot. Despite those shortcom ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="76" data-index="7">
                        <a href="https://www.engadget.com/2014/12/03/yotaphone-2-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/d834de21932dc77912da4fb3e969ce84/201186956/fullbleed.jpg);border-top:4px solid #ffcc00">
                          <span class="engadget-score" style="background-color: #ffcc00">76</span>
                          <div class="title"><span class="product-name">Yota Devices<br/>YotaPhone 2</span></div>
                        </div>
                        <h3>YotaPhone 2 review: niche and expensive, but seriously cool</h3>
                        <p>The YotaPhone 2 is a stark upgrade over its predecessor, with bigger, better displays wrapped in a much sleeker package. Most importantly, the seconda ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="83" data-index="8">
                        <a href="https://www.engadget.com/2014/12/04/fire-tv-stick-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/5abda5a154d34865d79a67514c0b943e/201186945/12-2-2014_fire_tv_stick_Lead_3.jpg);border-top:4px solid #7acf00">
                          <span class="engadget-score" style="background-color: #7acf00">83</span>
                          <div class="title"><span class="product-name">Amazon<br/>Fire TV Stick</span></div>
                        </div>
                        <h3>Fire TV Stick review: a more affordable streamer from Amazon</h3>
                        <p>The Fire TV Stick addresses a number of issues we had with the Fire TV and comes with a much smaller price tag. It&#039;s not dramatically better than its  ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="65" data-index="9">
                        <a href="https://www.engadget.com/2014/12/01/samsung-gear-s-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/e81dcdbad3b0122302bcbfac6eaee26e/201155793/leadgear.jpg);border-top:4px solid #ffcc00">
                          <span class="engadget-score" style="background-color: #ffcc00">65</span>
                          <div class="title"><span class="product-name">Samsung<br/>Gear S</span></div>
                        </div>
                        <h3>Samsung Gear S review: an ambitious and painfully flawed smartwatch</h3>
                        <p>The Samsung Gear S is a smartwatch that&#039;s also a phone. But it still needs a phone -- and a Samsung phone, at that -- to be of any use. That, combined ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="81" data-index="10">
                        <a href="https://www.engadget.com/2014/11/28/hp-stream-11-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/506499a4fdd3e3b427b98e65c3fdcc1e/201146967/P1010196.jpg);border-top:4px solid #7acf00">
                          <span class="engadget-score" style="background-color: #7acf00">81</span>
                          <div class="title"><span class="product-name">HP<br/>Stream 11</span></div>
                        </div>
                        <h3>HP Stream 11 review: a $200 Windows laptop meant to be a Chromebook killer</h3>
                        <p>At $200, the Stream 11 is a good deal, especially compared to pricier Chromebooks, but beware that it comes with many of the same trade-offs as other  ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="84" data-index="11">
                        <a href="https://www.engadget.com/2014/11/25/lenovo-yoga-3-pro-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/266f37337d63fad0262b9c97b86b4088/201142363/P1010200.jpg);border-top:4px solid #7acf00">
                          <span class="engadget-score" style="background-color: #7acf00">84</span>
                          <div class="title"><span class="product-name">Lenovo<br/>Yoga 3 Pro</span></div>
                        </div>
                        <h3>Lenovo Yoga 3 Pro review: slim and sexy comes with some trade-offs</h3>
                        <p>Lenovo&#039;s third-generation Yoga laptop is as versatile as ever, except it&#039;s noticeably thinner and lighter -- so much so that it&#039;s now one of the slimm ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="65" data-index="12">
                        <a href="https://www.engadget.com/2014/11/24/ibuypower-sbx-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/2c7f1089f19f2c4b28abde73140dcca9/201122588/fullbleed2323.jpg);border-top:4px solid #ffcc00">
                          <span class="engadget-score" style="background-color: #ffcc00">65</span>
                          <div class="title"><span class="product-name">iBuyPower<br/>SBX</span></div>
                        </div>
                        <h3>A Steam Machine without Valve: life with the iBuyPower SBX</h3>
                        <p>The iBuyPower SBX will look at home in your entertainment center, but it won&rsquo;t survive there without a mouse and keyboard.&nbsp; ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="75" data-index="13">
                        <a href="https://www.engadget.com/2014/11/24/htc-re-camera-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/1018a8f9e8865e3484413c6e4b9a8cde/201130803/PB211256.jpg);border-top:4px solid #ffcc00">
                          <span class="engadget-score" style="background-color: #ffcc00">75</span>
                          <div class="title"><span class="product-name">HTC<br/>RE Camera</span></div>
                        </div>
                        <h3>HTC RE Camera review: a fun personal shooter with room to grow</h3>
                        <p>The RE is a fun personal camera that&#039;s easy to use for travel, concerts, the beach and other events. But its camera is merely average for $200, and yo ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="74" data-index="14">
                        <a href="https://www.engadget.com/2014/11/19/ee-tv-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/ff82e6a0b114a0a761fab0340ab88ca8/201107733/eefullbleed.jpg);border-top:4px solid #ffcc00">
                          <span class="engadget-score" style="background-color: #ffcc00">74</span>
                          <div class="title"><span class="product-name">EE<br/>EE TV</span></div>
                        </div>
                        <h3>EE TV review: a decent set-top box with too many strings attached</h3>
                        <p>EE TV is a pretty good Freeview DVR with some unique functionality. These advanced features, however, aren&#039;t without their limitations, but my main gr ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="82" data-index="15">
                        <a href="https://www.engadget.com/2014/11/21/amazon-fire-hd-6-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/17757704d32262c9f05b817a2fe0fc93/201086516/P1010179.jpg);border-top:4px solid #7acf00">
                          <span class="engadget-score" style="background-color: #7acf00">82</span>
                          <div class="title"><span class="product-name">Amazon<br/>Fire HD 6</span></div>
                        </div>
                        <h3>Amazon Fire HD 6 review: great value for a $99 tablet</h3>
                        <p>With long battery life, a sharp screen and some useful software features, the HD 6 offers impressive value for the money. It&#039;s an excellent choice for ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="86" data-index="16">
                        <a href="https://www.engadget.com/2014/11/12/nexus-6-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/b8b79a39dc5998be97103ac142caf531/201074920/Nexus6-31.jpg);border-top:4px solid #7acf00">
                          <span class="engadget-score" style="background-color: #7acf00">86</span>
                          <div class="title"><span class="product-name">Google<br/>Nexus 6</span></div>
                        </div>
                        <h3>Nexus 6 review: Google shows it can make a big-screen phone</h3>
                        <p>The Nexus 6 is Google&#039;s first attempt at a phablet, and is the most premium Nexus we&#039;ve seen to date. It&#039;s powerful, high-res and comes with the lates ...</p>
                      </a>
                    </li>
                                      <li class="li" data-score="65" data-index="17">
                        <a href="https://www.engadget.com/2014/11/12/microsoft-band-review/">
                        <div class="card" style="background-image:url(http://o.aolcdn.com/hss/storage/midas/f54d265d0d464c894db33534a986e6d2/201046092/microsoftbandlead.JPG);border-top:4px solid #ffcc00">
                          <span class="engadget-score" style="background-color: #ffcc00">65</span>
                          <div class="title"><span class="product-name">Microsoft<br/>Band</span></div>
                        </div>
                        <h3>Microsoft Band review: A tale of pitfalls and promise</h3>
                        <p>If Microsoft Health ever lives up to its ambitious goals, it could be game-changing. But right now, the Microsoft Band is the only device available fo ...</p>
                      </a>
                    </li>
                                </ul>

                            <a href="/reviews/page/2" class="older-reviews 1">← OLDER REVIEWS</a>
                                      </div>
    </div>
  </section>
</div>

          <!-- google_ad_section_end -->
        </div>
      </div>
    </div>

    <div id="footer">
      <div id="mobileaddiv"></div>
      <footer>
        <div id="footer-like" class="nocontent">
          <div class="body">
            <div class="linkage">
              <h5>About</h5>
              <ul>
                <li><a href="/about/">About Engadget</a></li>
                  <!--<li><a href="/jobs/">Jobs</a></li>-->
                  <!--<li><a href="#">Help & FAQ</a></li>-->
                <li><a href="/about/contact/">Contact us</a></li>
                <li><a href="/advertise/">Advertise on Engadget</a></li>
              </ul>
            </div>
            <div class="linkage">
              <h5>Community</h5>
              <ul>
                  <li><a href="http://www.engadget.com/discuss/">Forums</a></li>
                  <li><a href="/discuss/topic/engadget/">Engadget Meta</a></li>
                  <li><a href="/guidelines/">Community guidelines</a></li>
              </ul>
            </div>
            <div class="linkage">
              <h5>Reviews</h5>
              <ul>
                <li><a href="http://www.engadget.com/reviews/">Product reviews</a></li>
                  <!--<li><a href="#">Engadget Editors' Choice</a></li>-->
                <li><a href="http://www.engadget.com/post/#review">Write a review</a></li>
              </ul>
            </div>
            <div class="linkage">
              <h5>Contribute</h5>
              <ul>
                <li><a class="tips-link" href="/about/tips/">Send us a tip!</a></li>
                  <li><a href="/add/">Add to our database</a></li>
                    <!-- <li><a href="#">Edit product data</a></li> -->
                  <li><a href="/post/#review">Write a Review</a></li>
                  <li><a href="/post/#discuss">Start a discussion</a></li>
                  <li><a href="/post/#ask">Ask a question</a></li>
              </ul>
            </div>
            <div class="linkage">
              <h5>Live events</h5>
              <ul>
                <li><a href="/expand/">Engadget Expand</a></li>
                <li><a href="http://events.gdgt.com/">Engadget Live</a></li>
              </ul>
            </div>
            <div class="linkage">
              <h5>Popular topics</h5>
              <ul>
                <li><a href="/topics/mobile/">Mobile</a></li>
                <li><a href="/topics/hd/">HD</a></li>
                <li><a href="/topics/alt/">Alt</a></li>
                <li><a href="/topics/software/">Software</a></li>
                <li><a href="/topics/apple/">Apple</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div id="footer-feed" class="nocontent">
          <div class="body">
            <div class="thirds social-column">
              <h5>Follow Engadget</h5>
              <ul class="social-tools">
                <li><a href="https://www.facebook.com/Engadget"><i class="s-btn-footer-fb"></i></a></li>
                <li><a href="https://twitter.com/engadget"><i class="s-btn-footer-tw"></i></a></li>
                <li><a href="https://plus.google.com/+Engadget"><i class="s-btn-footer-gplus"></i></a></li>
                <li><a href="http://www.youtube.com/engadget"><i class="s-btn-footer-yt"></i></a></li>
                <li><a href="http://instagram.com/engadget"><i class="s-btn-footer-instg"></i></a></li>
                <li><a href="http://engadget.tumblr.com/"><i class="s-btn-footer-tmb"></i></a></li>
                <li><a href="http://www.pinterest.com/engadget"><i class="s-btn-footer-pint"></i></a></li>
                <li><a href="http://www.linkedin.com/company/101421"><i class="s-btn-footer-linkin"></i></a></li>
              </ul>
            </div>
            <div class="thirds">
              <h5>Engadget Apps</h5>
              <ul class="engadget-apps">
                <li><a href="https://play.google.com/store/apps/details?id=com.aol.mobile.engadget&amp;feature=nav_result#?t=W251bGwsMSwyLDNd" target="_blank"><i class="s-btn-footer-droid"></i></a></li>
                <li><a href="http://itunes.apple.com/us/app/engadget/id347839246?mt=8&amp;uo=4" target="_blank"><i class="s-btn-footer-iphone"></i></a></li>
                <li><a href="http://itunes.apple.com/us/app/engadget-for-ipad/id409892845?mt=8&amp;uo=4" target="_blank"><i class="s-btn-footer-ipad"></i></a></li>
              </ul>
              <p class="more-apps"><a href="/apps/">More Apps from Engadget <i class="s-icn-read-arw"></i></a></p>
            </div>
            <div class="thirds">
              <h5>Subscribe to Engadget Newsletter</h5>
              <div class="newsletter" id="aol-newsletter2">
                <div class="content">
                  <form action="/b-c/sailthru/signup.php" method="post"><p class="message"></p><input type="text" placeholder="email address" class="signup-email" value="" style="color: rgb(153, 153, 153);"><input type="button" value="Subscribe" class="button"></form>
                </div>
              </div>
            </div>
          </div><!-- body -->
        </div><!-- footer-feed -->

      </footer>

      <!-- Legal, etc. -->
      <div id="after-footer">
        <div class="inner-footer">
          <div id="footer-language">
            <h5>Engadget International Editions</h5>
            <ul class="language">
              <li lang="es">
                <a href="http://es.engadget.com" title="Spanish">
                  Español
                </a>
              </li>
              <li lang="zh">
                <a href="http://chinese.engadget.com" title="Traditional Chinese">
                  繁體中文
                </a>
              </li>
              <li lang="zh">
                <a href="http://cn.engadget.com" title="Simplified Chinese">
                  简体中文
                </a>
              </li>
              <li lang="ja">
                <a href="http://japanese.engadget.com" title="Japanese">
                  日本版
                </a>
              </li>
              <li lang="de">
                <a href="http://de.engadget.com" title="German">
                  Deutschland
                </a>
              </li>
            </ul>
          </div>
          <div id="footer-legal">
            <a href="http://www.aoltech.com" class="s-aol-tech-logo">AOL Tech.</a>

            <p>
              <span>
                © 2015 AOL Inc.<br>
                All rights reserved.
              </span>

                    <a href="http://www.EngadgetReprints.com">Reprints and Permissions</a>
                    <a href="http://about.aol.com/aolnetwork/aol_pp">Privacy Policy</a>
              <a href="http://about.aol.com/aolnetwork/mem_tos">Terms of Use</a>
              <a href="http://about.aol.com/aolnetwork/trademarks">Trademarks</a>
              <a href="http://help.aol.com/">AOL A-Z Help</a>
              <a href="http://www.engadget.com/advertise/">Advertise with Us</a>
            </p>
          </div>
        </div>

      </div>
    </div>


    
    
    <!--[if lt IE 8]>
    <div id="crawl">
      <div class="wrapper">
        Hmm, you're using an old version of Internet Explorer. This browser doesn't support web standards, so Engadget may not work. Try <a href="http://www.google.com/chrome/">Chrome</a> or <a href="http://www.firefox.com/">Firefox</a>.
      </div>
    </div>
    <script type="text/javascript">
      
        jQuery.getScript("http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js", function(){CFInstall.check({mode:"overlay"})});
      
    </script>
    <![endif]-->
    <noscript>
      <div id="crawl">
        <div class="wrapper">
          It looks like you have JavaScript turned off, so Engadget may not work. You should enable JavaScript to fully experience Engadget.
        </div>
      </div>
    </noscript>

    <script type="text/javascript" src="http://media.engadget.com/assets/js/compiled_core_foot-5837d.js"></script>
<script type="text/javascript" src="http://media.engadget.com/assets/js/core/rewrite-fc152.js"></script>
<script type="text/javascript" src="http://o.aolcdn.com/os_merge/?file=/aol/jquery.inlinecss-1.0.min.js&file=/aol/jquery.aolnewsletter.min.js"></script>
<script type="text/javascript" src="http://media.engadget.com/assets/js/provisionals/reviews/index-a1891.js"></script>
<script type="text/javascript" src="http://media.engadget.com/assets/js/plugins/handlebars-97dcc.js"></script>
<script type="text/javascript" src="http://media.engadget.com/assets/js/provisionals/reviews/cat_filter-812c7.js"></script>


    
        
    
        
          <script type="text/javascript">
        var _sf_async_config = {uid:2573, domain:"gdgt.com"};
        var _sf_endpt = (new Date()).getTime();
        jQuery.getScript("http://static.chartbeat.com/js/chartbeat.js");
      </script>
    
    <script>
      var _comscore = _comscore || [];
      _comscore.push({ c1: "2", c2: "12937072" });
      (function() {
        var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
      })();
    </script>
    <noscript>
      <img src="http://b.scorecardresearch.com/p?c1=2&c2=12937072&cv=2.0&cj=1" />
    </noscript>

    


              
    
    <script type="text/javascript">
        bN_cfg = {
          h: location.hostname
        };

        function runOmni()
        {
          s_265.pfxID="weg";
          s_265.pageName=document.title;
          s_265.channel="us.gdgt";
          s_265.linkInternalFilters="javascript:,gdgt.com,engadget.com";
          s_265.mmxgo=true;
          s_265.prop54="no_cms";

          
          
                    

          var s_code=s_265.t();
        }

        s_265_account = "aolwbengadget,aolsvc";
        (function(){
          var d = document, s = d.createElement('script');
          s.type = 'text/javascript';
          s.src = (location.protocol == 'https:' ? 'https://s' : 'http://o') + '.aolcdn.com/os_merge/?file=/aol/beacon.min.js&file=/aol/omniture.min.js';
          d.getElementsByTagName('head')[0].appendChild(s);
        })();
    
    </script>

    <script type="text/javascript">
      jQuery('#aol-newsletter2').aolNewsletter();
    </script>
  </body>
</html>
