<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <script src="<%= storage %>/sdk.js"></script>
    <script src="../loader.js"></script>

    <h1>Index Page</h1>
    <a href="index.html">Next page</a>
    <p>
    <img id="testimg">
    <script>
        (function () {
            var url = 'http://fc00.deviantart.net/fs51/f/2010/248/a/6/really_really_big_spaceship_by_djbig-d2czle2.png';
            url += '?' + Math.random();
            document.getElementById('testimg').src = url;
        }());
    </script>
</body>
</html>
